/* Burger */
.burger {
    user-select: none;
    backdrop-filter: blur(0.5rem);
    padding: 0.5rem;
    border-radius: 50%;
    position: fixed;
    width: 38px;
    height: 38px;
    cursor: pointer;
    top: 1rem;
    left: 1.25rem;
    z-index: 2;
}
.meat {
    position: absolute;
    width: 28px;
    height: 2px;
    background: currentColor;
    top: calc(50% - 2px / 2);
    left: calc(50% - 28px / 2);
    transition: all 150ms ease-in;
}
.meat1 {
    transform: translateY(-10px);
}
.meat2 {
    width: calc(28px - 6px);
}
.meat3 {
    transform: translateY(10px);
}
.burger:hover .meat {
    background: dodgerblue;
}
.burgerActive .meat1 {
    transform: rotate(45deg);
}
.burgerActive .meat2 {
    opacity: 0;
}
.burgerActive .meat3 {
    transform: rotate(-45deg);
}
@media (orientation: landscape) {
    .burger {
        display: none;
    }
}